---
author: Mr.0x4C5 
desc: 如果比诺曹说，我的鼻子会变长，那将会怎样？
---
<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8" />
    {% if page.title != null %}
    <title>{{page.title}} | {{ page.desc }} - {{ page.author }}</title>
    {% else %}
    <title>{{ page.desc }} - {{ page.author }}</title>
    {% endif %}
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" charset="utf-8"/>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/js/yahoo.js"></script>
    <script type="text/javascript" src="/js/global.js"></script>	
    <script type="text/javascript" src="/js/calendar.js"></script>
    <link type="text/css" rel="stylesheet" href="/syntaxhighlighter/styles/shCoreDefault.css"/>
	
    <!--[if IE]><script src="/javascripts/html5.js"></script><![endif]-->
</head>
<body>
<div id="wrapper"><!-- #wrapper -->
    <header><!-- header -->
      <h1><a href="/">{{ page.author }}</a></h1>
      <h2>{{ page.desc }}</h2>

     <div class="menu">
     	 <ul>
     	 <li><a href="/">主页</a></li>
         <li><a href="/blogs.html">文档</a></li>
         <li><a href="http://edrun.github.io/gapp/">项目</a></li>
        <li><a href="/about.html">关于我</a></li>
     </div>

    </nav><!-- end of top nav -->
	
	<section id="main"><!-- #main content and sidebar area -->
			<section id="content"><!-- #content -->
				<article class="articlecontent">
		          {{ content }}
		        </article>
			</section><!-- end of #content -->
			<script type="text/javascript">
				SyntaxHighlighter.config.strings.expandSource = "+ expand source";
				SyntaxHighlighter.defaults['collapse'] = true;
				SyntaxHighlighter.defaults['tab-size'] = 3;
				SyntaxHighlighter.all();
			</script>

		<div class="sidebar">
			<ul>
			   <li>
				<form method="get" action="http://www.google.com/search" target="google_window">
				<label class="hidden" for="s">Search...</label>
				<div>	
				<input type="text" value="Search..." name="q" id="s" onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}">
				<input type="submit" name=”btnG” id="searchsubmit" value="">
				</div>
				<input type="hidden" name="ie" value="UTF-8″ />
				<input type="hidden" name="oe" value="UTF-8″ />
				<input type="hidden" name="hl" value="zh-CN" />
				<input type="hidden" name="domains" value="http://qledrun.github.com" />
				<input type="hidden" name="sitesearch" value="http://qledrun.github.com" />
				</form>


				<h2>资源分类</h2>
					<ul>

                                        {% for category in site.categories %}
				            <li>
                                                 <a href="/{{category | first}}.html">{{category | first}} ({{category | last | size }})</a>
                                            </li>
				                        {% endfor %}
				        </ul>


			         <h2>近期文章</h2>
					  <ul>
                                          {% for post in site.posts limit:1 %}
                                               <li>
                                                   <span>{{post.date | date: "%Y-%m-%d"}}</span>
                                                   <a href="{{post.url}}">{{post.title}}</a>
                                               </li>
                                          {% endfor %}
			                   </ul>

							<h2>友情链接</h2>
								<ul>
									<li><a href="http://www.matrix67.com/blog/" rel="nofollow">Matrix67</a></li>
									<li><a href="http://www.huxiu.com/" rel="nofollow">虎嗅网</a></li>
									<li><a href="http://yyyyyyyyyyyyyyyyy.com/" rel="nofollow">17 Why</a></li>
                                                                        <li><a href="http://www.yangzhiping.com/" rel="nofollow">阳志平的blog</a></li>
								</ul>
						</li>        
					</ul>
				</div>	
				<div class="clear_float"></div>

	</section><!-- end of #main content and sidebar-->
	
		<footer>
		<section id="footer-area">

			<section id="footer-outer-block">				
     
            <div>
                  <h4>Copyright</h4>
				 <p> &copy; 2011 <a href="/">Mr.0x4C5</a>| Power by jekyll | themed by <a href="http://fqntxmqee.github.io" title="fqntxmqee">fqntxmqee</a> | fork <a href="https://github.com/edrun/edrun.github.com" title="fork me">me</a>|
                                 <script src="http://s11.cnzz.com/stat.php?id=5315797&web_id=5315797&show=pic" language="JavaScript"></script>
                                 </p>                     
            </div>
			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>

    <script type="text/javascript" src="/js/prettify.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	
      <script type="text/javascript">
          var disqus_shortname = 'qledrun'; 
         (function () {
          var s = document.createElement('script'); s.async = true;
         s.type = 'text/javascript';
         s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
         (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
     </script>

    <script>
    (function(d, t) {
    var g = d.createElement(t),
    s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = 'https://apis.google.com/js/plusone.js';
    s.parentNode.insertBefore(g, s);
    })(document, 'script');
  </script>
	
</div><!-- #wrapper -->
	
</body>
</html>
